<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px black solid;
    }
  </style>
  <body>
    <form action='/pokemon/<%=pkmn._id%>' method='post'>
      <table>
        <tr>
          <td>Name:</td>
          <td><input type='text' name='name' value='<%=pkmn.name%>'></td>
        </tr>
        <tr>
          <td>Types:</td>
          <td>
            <input type='text' name='type1' value='<%=pkmn.types[0]%>'><br>
            <input type='text' name='type2' value='<%=pkmn.types[1]%>'>
          </td>
        </tr>
        <tr>
          <td>Moves:</td>
          <td>
            <input type='text' name='move1' value='<%=pkmn.moves[0]%>'><br>
            <input type='text' name='move2' value='<%=pkmn.moves[1]%>'><br>
            <input type='text' name='move3' value='<%=pkmn.moves[2]%>'><br>
            <input type='text' name='move4' value='<%=pkmn.moves[3]%>'>
          </td>
        </tr>
      </table>
      <input type='submit'>
    </form>
  </body>
</html>
